appdirs==1.4.4
ase==3.22.1
astropy==5.1.1
certifi==2022.6.15
charset-normalizer==2.1.0
configparser==5.3.0
cycler==0.11.0
fonttools==4.34.4
future==0.18.2
idna==3.3
importlib-metadata==4.12.0
kiwisolver==1.4.3
latexcodec==2.0.1
llvmlite==0.38.1
matplotlib==3.5.2
monty==2022.4.26
mpmath==1.2.1
networkx==2.8.4
numba==0.55.2
numpy==1.23.0
packaging==21.3
palettable==3.3.0
pandas==1.4.3
Pillow==9.2.0
plotly==5.9.0
pooch==1.6.0
py3Dmol==1.8.0
pybtex==0.24.0
pyerfa==2.0.0.1
pymatgen==2022.5.26
pyparsing==3.0.9
pyshtools==4.10
python-dateutil==2.8.2
pytz==2022.1
pyxtal==0.5.3
PyYAML==6.0
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.8.1
six==1.16.0
spglib==1.16.5
sympy==1.10.1
tabulate==0.8.10
tenacity==8.0.1
tqdm==4.64.0
uncertainties==3.1.7
urllib3==1.26.10
xarray==2022.11.0
zipp==3.8.0
